
<h1 class="bg-dark text-white p-4 mb-4 text-center">ng-Filtered Pipe Task</h1>

<div class="container">
    <div class="row">
        <div class="col-md-9 mb-4">
            <input type="text" class="form-control"  placeholder="search here..." [(ngModel)]="searchvalue">
        </div>
        <div class="col-md-3">
            <select class="form-control" #select (change)="onselect(select)">
                <option  value="default">Filter by</option>
                <option  value="name">Filter by name</option>
                <option  value="team">Filter by team</option>
                <option value="odiRuns">Filter by odiRuns</option>
                <option value="testRuns">Filter by testRuns</option>
                <option value="yearDebut">Filter by yearDebut</option>
            </select>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table table-bordered table-hover">
                <thead class="table table-dark">
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>Team</th>
                        <th>odiRuns</th>
                        <th>testRuns</th>
                        <th>year Debut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players | player : searchvalue : selectedvalue; index as i">
                        <td>{{i + 1}}</td>
                        <td>{{player.name}}</td>
                        <td>{{player.team}}</td>
                        <td>{{player.odiRuns}}</td>
                        <td>{{player.testRuns}}</td>
                        <td>{{player.yearDebut}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>